body {
    background-color: #3a3939;
    color: #b7b9be
}

ul {
    list-style-type: none;
    margin-left: 3ch;
    padding: 0;
}

ul.topmost > li:first-child {
    border-top: 1px solid #515c57
}

ul.topmost > li {
    border-top: none;
    border-bottom: 1px solid #515c57;
    padding: 0.3em 0.3em;
    margin-left: 0
}

/* Flatten lists if directly under one of the mentioned headings */
p > ul, div > ul, h1 + ul, h2 + ul, h3 + ul, h4 > ul {
    margin-left: 0;
}

li {
    border-top: 1px solid #515c57;
    line-height: 1.2em;
    /*padding: 1.2em 4em;*/
}

li a {
    text-decoration: none
}

li a:link, li a:visited {
    color: #acb4b6
}

.h1 {
    font-size: 1.2em;
    margin-right: 0.2em;
    margin-bottom: 0.1em;
    padding: 0.1em
}

.h1 a {
    text-decoration: none
}

.h1 a:visited, .h1 a:link {
    color: #7bb197
}

.h3 {
    color: #b4b4b4;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.1em;
    padding: 0.1em;
}

.title {
    font-size: 1.1em;
    font-weight: bold;
    color: green;
    padding-top: 0.4em
}

.count {
    font-size: 0.8em;
    color: #c4c4c6;
    padding-left: 0.5em;
    padding-right: 0.5em
}

.tool {
    font-size: 0.7em;
    color: #c6c6c6;
    padding-left: 0.5em
}

.build-info {
    font-size: 0.7em;
    color: #8a8a8a;
    padding-left: 0.5em;
    font-style: italic
}

.note-body {
    padding-left: 1em;
    margin-top: 0.1em
}

.time-label {
    font-size: 0.7rem
}

.text-menu {
    font-weight: bold
}

.small {
    font-size: 0.8em
}

code {
    border-radius: 0.3em;
    background-color: #b2916e;
    color: black;
    padding: 0.1em 0.3em;
}

.copy-btn {
    margin-left: 2ch;
    margin-right: 2ch;
    float: right;
    font-size: small;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/*
.copy-btn:active {
    background-color: #bc9355;
}
*/
.copy-btn svg {
    width: 16px;
    height: 16px;
    fill: #b8905a;
}

.inline-copy-btn {
    position: relative;
    top: -0.5ch;
    padding-left: 2px;
    padding-right: 2px;
    font-size: small;

    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/*
.inline-copy-btn:active {
    background-color: #bc9355;
}
*/
.inline-copy-btn svg {
    width: 10px;
    height: 9px;
    fill: #b8905a;
}

button:hover svg {
    fill: #007BFF; /* Change color on hover */
}

button:active svg {
    fill: #ffffe7; /* Change color on hover */
}
